<ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
          <a class="gn-icon gn-icon-menu"><span>目录</span></a>
          <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
              <ul class="gn-menu">
                <li class="gn-search-item">
                  <input placeholder="搜索" type="search" class="gn-search">
                  <a class="gn-icon"><i class="fa fa-search"></i></a>
                </li>
                <li>
                  <a href="#" class="gn-icon"><i>首</i> <span>绪论</span></a>
                </li>
                <li>
                  <a href="#" class="gn-icon"><i>一</i> <span>基本环境</span></a>
                </li>
                <li>
                  <a href="#" class="gn-icon"><i>二</i><span>基本语法</span></a>
                </li>
                <li>
                  <a href="#" class="gn-icon"><i>三</i><span>扩展</span></a>
                </li>
                <li>
                  <a href="#" class="gn-icon"><i>四</i><span>实战使用</span></a>
                </li>
              </ul>
            </div><!-- /gn-scroller -->
          </nav>
        </li>
        <li><a href="#">{{ site.title }}</a></li>
    
        <li><a class="" href="{{ site.owner.github }}" target="_blank"><i class="fa fa-github fa-2x"></i> GitHub</a></li>

      </ul>